.home-page {
  height: 100vh;
}

.banner {
  padding-top: 150px;
  padding-right: 80px;
  padding-left: 45px;
}

.banner h1 {
  font-size: 5rem;
}

.typical {
  margin-top: 10px;
  font-family: "Changa", sans-serif;
  font-size: 1.4rem;
}

@media (max-width: 500px) {
  .banner h1 {
    font-size: 3rem;
  }

  .typical {
    font-size: 1rem;
  }
}
