.projects-page {
    margin-top: 60px;
    height: 100vh;
}

@media (max-width: 1380px) {
    .projects-page {
        height: 100%;
    }
}

.project-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.project-cards div {
    margin: 0 auto;
    /* margin-top: 15px; */

}

@media (max-width: 1000px) {
    .project-cards {
        display: flex;
        flex-direction: column;
        width: 900px;
    }

    .project-cards div {
        margin-bottom: 20px;
    }

    .projects-page {
        height: 100%;
    }
}

.project-buttons a {
    color:  #957397;
}


@media (max-width: 500px) {
    .project-cards {
        width: 320px;
        margin: 0 auto
    }
}