.resume__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.resume button {
    border: 2px solid black;
    font-family: "Changa" ;
    font-size: 2.3rem;
    padding: 5px 50px;
    float: right;
    margin-bottom: 30px;
    background: lightgrey;
    border-radius: 100px;
    outline: none;
}

.resume button:hover {
    background: #957397;
}