.resume__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.resume button {
    border: 1px solid black;
    font-family: "Changa" ;
    font-size: 2.3rem;
    padding: 5px 50px;
    float: right;
    margin-bottom: 30px;
    background: lightgrey;
    outline: none;
    transition: .5s;
}

.resume button:hover {
    background: #957397;
    color: white;
    border: 1.8px solid black;
    transition: .5s;
    font-size: 2.5rem;
}