.app {
  max-width: 93%;
  margin: 0 auto;
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  background: white
}

body::-webkit-scrollbar-thumb {
  background: black;
}